<nav>
    <div id="nav-categories">
        <a href="." class="uppercase" id="nav-home">Fair Count</a>
        <a href="?route=profile">Profile</a>
        <a href="?route=groups">Groupes</a>
        <a href="?route=expenses">Dépenses</a>
    </div>

    <div id="nav-auth">
        <button onclick="window.location.href = '?route=login'" id="nav-login">S'identifier</button>
        <button onclick="window.location.href = '?route=register'" id="nav-register">S'inscrire</button>
    </div>
</nav>