<nav>
    <a href=".">Accueil</a>
    <a href="?route=profile">Profile</a>
    <a href="?route=groupes">Groupes</a>
    <a href="?route=expenses">Dépenses</a>
    <a href="?route=login">login</a>
</nav>