<nav>
    <div id="nav-categories">
        <a href="." class="uppercase" id="nav-home">Fair Count</a>
        <a href="?route=profile">Profile</a>
        <a href="?route=groups">Groupes</a>
    </div>

    <div id="nav-auth">
        <button onclick="window.location.href = '?route=logout'" id="nav-logout">Se déconnecter</button>
    </div>
</nav>