{% extends "layout.html.twig" %}

{% block title %}
ERROR 404 : not found
{% endblock %}

{% block body %}
    <header>
        {% include "partials/_nav.html.twig" %}
    </header>

    <main>
        <h1>Je crois que tu t'es perdue reviens sur le bon chemin <a href=".">ici</a>.</h1>
        <h2>ERROR 404 : not found</h2>
    </main>
{% endblock %}