section,
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    margin-top: 2%;
}
form{
    width: 30%;
    height: 30%;
    row-gap: 20%;
}
form > div{
    display: flex;
    flex-direction: column;
    row-gap: 10%;
    width: 100%;
}
input{
    font-size: medium;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    width: 95%;
    color: white;
    padding: 2%;
}
form > button{
    width: 100%;
    color: white;
    background-color: rgb(12, 155, 12);
    border: none;
    border-radius: 4px;
    padding: 2.5% 0;
    cursor: pointer;
}