main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}
button{
    cursor: pointer;
}
p{
    margin: 0;
}
h1{
    width: fit-content;
    margin: 0;
}
section{
    margin-top: 4%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
    row-gap: 4%;
    width: 80%;
    height: 33vw;
}
section > h2{
    grid-area: 1 / 1 / 1 / 4;
    text-align: center;
}
section > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 4%;
    height: 100%;
}
#groupsOwned > div{
    row-gap: 4%;
}
#groups > div{
    row-gap: 2%;
}
.group-name{
    font-size: larger;
    text-align: center;
}
.last-expenses{
    text-decoration: underline;
}
section > div > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 4%;
}
section > div > button{
    align-self: unsafe;
    background: none;
    border: 1px solid white;
    border-radius: 0.5vw;
    padding: 1% 3%;
    color: white;
    width: fit-content;
}