main,
section > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    text-align: center;
}
.category-border{
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
    column-gap: 2%;
    padding-bottom: 10%;
}
section > div{
    padding-bottom: 5%;
}
table{
    font-size: small;
    text-align: center;
    table-layout: fixed;
    width: 100%;
}
th{
    text-decoration: underline;
}
button{
    margin-top: 5%;
    color: white;
    background-color: rgb(12, 155, 12);
    border: none;
    border-radius: 4px;
    padding: 2.5% 5%;
    cursor: pointer;
}