main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
}
button{
    cursor: pointer;
}
h1{
    width: fit-content;
    margin: 0;
}
#user-money{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    width: 30%;
}
#user-money > h2{
    margin: 0;
    font-size: xx-large;
}
#user-money > button{
    color: white;
    font-size: x-large;
    background-color: rgb(12, 155, 12);
    border: none;
    border-radius: 2px;
    height: fit-content;
    padding: 0 2% 1% 2%;
    margin: auto 0 auto 5%;
    transition: all 0.2s;
}
#user-money > button:hover{
    color: rgb(100, 100, 100,);
    background-color: rgb(12, 130, 12);
}
#groups{
    margin-top: 4%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
    width: 80%;
}
#groups > h2{
    grid-area: 1 / 1 / 1 / 4;
    text-align: center;
}
#groups > div{
    display: flex;
    flex-direction: column;
    row-gap: 4%;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 4% 4% 15% 4%;
}
p{
    margin: 0;
}
.group-name{
    font-size: larger;
    text-align: center;
}
.last-expenses{
    text-decoration: underline;
}
#groups > div > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 4%;
}
#groups > button{
    grid-area: 3 / 1 / 3 / 4;
    background: none;
    border: 1px solid white;
    border-radius: 0.5vw;
    padding: 1% 3%;
    color: white;
    width: fit-content;
    margin: 2% auto 0 auto;
}