section,
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    margin-top: 2%;
}
form{
    width: 30%;
    height: 30%;
    row-gap: 10%;
}
form > div{
    display: flex;
    flex-direction: column;
    row-gap: 10%;
    width: 100%;
}
input{
    font-size: medium;
    background-color: rgb(30, 30, 30);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    width: 95%;
    color: white;
    padding: 2%;
}
.warning-message{
    margin: 0;
    font-size: smaller;
    color: red;
}
button{
    width: 100%;
    color: white;
    background-color: rgb(12, 155, 12);
    border: none;
    border-radius: 4px;
    padding: 2.5% 0;
    cursor: pointer;
}
section > p{
    margin-top: 12%;
}
section > p > a{
    text-decoration: none;
    color: rgb(0, 60, 255);
}

p > a:hover{
    text-decoration: underline;
}