{% extends "layout.html.twig" %}

{% block title %}
Ajout d'argent
{% endblock %}

{% block style %}
    <link rel="stylesheet", href="assets/css/addRefund.css">
{% endblock %}

{% block body %}
<header>
    {% include "partials/_nav-logout.html.twig" %}
</header>

<main>
    <section>
        <h1>Ajouter un remboursement sur le groupe <span class="uppercase">{{ groupName }}</span></h1>

        <form method="post" action="?route=add-refund&groupId={{ groupId }}">
            <div>
                <label for="amount">Montant</label>
                <input name="amount" step="0.01" min="0" type="number" placeholder="0.00" required></input>
            </div>

            <button type="submit">Ajouter</button>
        </form>
    </section>
</main>
{% endblock %}