{% extends "layout.html.twig" %}

{% block title %}
Acceuil
{% endblock %}

{% block body %}
<header>
    {% include "partials/_nav.html.twig" %}
</header>

<main>
    <h1>Home</h1>

    <section>

    </section>
</main>
{% endblock %}