{% extends "layout.html.twig" %}

{% block style %}
<link rel="stylesheet", href="assets/css/home.css">
{% endblock %}

{% block title %}
Acceuil
{% endblock %}

{% block body %}
<header>
    {% include "partials/_nav.html.twig" %}
</header>

<main>
    <h1>Bienvenue sur <span class="uppercase">fair count</span></h1>

    <p>Faite des groupes avec vos amis pour un partage plus équitables de vos dépenses !</p>
</main>
{% endblock %}