{% extends "layout.html.twig" %}

{% block title %}
Connexion
{% endblock %}

{% block style %}
    <link rel="stylesheet", href="assets/css/register.css">
{% endblock %}

{% block body %}
<header>
    {% include "partials/_nav.html.twig" %}
</header>

<main>
    <section>
        <h1>Inscription a Fair Count</h1>

        <form method="post" action="?route=register">
            <div>
                <label for="nickName">Prénom</label>
                <input name="nickName" type="text" {% if error == "email" or error == "confirmPassword" %} value="{{ nickName }}" {% endif %} required></input>
                {% if error == "nickName" %}
                    <p class="warning-message">Prénom déjà pris</p>
                {% endif %}
            </div>

            <div>
                <label for="email">Email</label>
                <input name="email" type="email" {% if error == "confirmPassword" %} value="{{ email }}" {% endif %} required></input>
                {% if error == "email" %}
                    <p class="warning-message">Email déjà pris</p>
                {% endif %}
            </div>
            
            <div>
                <label for="password">Mot de passe</label>
                <input name="password" type="password" required></input>
            </div>

            <div>
                <label for="confirmPassword">Confimation du mot de passe</label>
                <input name="confirmPassword" type="password" required></input>
                {% if error == "confirmPassword" %}
                    <p class="warning-message">Différent du mot de passe</p>
                {% endif %}
            </div>

            <button type="submit">Iscription</button>
        </form>

        <p>On se connait ? <a href="?route=login">Se connecter</a></p>
    </section>
</main>
{% endblock %}