{% extends "layout.html.twig" %}

{% block title %}
Ajout d'argent
{% endblock %}

{% block style %}
    <link rel="stylesheet", href="assets/css/addMoney.css">
{% endblock %}

{% block body %}
<header>
    {% include "partials/_nav.html.twig" %}
</header>

<main>
    <section>
        <h1>Ajouter de l'argent sur Fair count</h1>

        <form method="post" action="?route=add-money">
            <div>
                <label for="email">Montant</label>
                <input name="montant" type="number" placeholder="0.00" required></input>
            </div>

            <button type="submit">Ajouter</button>
        </form>
    </section>
</main>
{% endblock %}